*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: linear-gradient(to right,#026615,#05E62E );
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3em;
}
#calc {
    /*border: 1px solid red;*/
    width: 400px;
    padding: .7em;
    background-color: #000000;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
}
#calc h3 {
    font-size: 2em;
    font-weight: 300;
    color: #ffffff;

}
#operadacoes{
    text-align: right ;
}
#previo-operation,
#current-operation{
    padding: 0.25em;
    overflow-wrap: break-word;
    min-height: 1.6em;
    
}
#previo-operation{
    color: #777;
    
}
#current-operation {
    font-size: 2.9em;
    font-weight: 700;
    
}
#buttons-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 3px;
}
#buttons-container button {
    border: 1px solid transparent;
    border-radius: 0;
    height: 4.2em;
    font-size: 1em;
    background-color:#149e89 ;
}
#buttons-container #number {
    background-color: #f3f3f3;
}
#buttons-container button:hover {
    background-color: #075f52;
    border-color: #999;
}
#buttons-container #number:hover {
    background-color: #999;
} 
#buttons-container #equal-btn{
    grid-column: span 2;
    background-color: #149e89;
}
#buttons-container #equal-btn:hover {
    background-color: #075f52;
}